@{
    ViewBag.Title = "Home Page";
}

<h1>@ViewBag.Title</h1>

<h3>
    The  Scheduling  Administration  Tool  (SAT)  application  is  a  portfolio  project  that  illustrates  our
    ability to build full stack web applications. Additionally, this project highlighted our ability to work
    on a development team using the Agile and Scrum methodologies. You can download documentation for this project below.
</h3>
<a href="~/Content/SATDocumentation.pdf" download="SATDocumentation">Download Documentation</a>
